body {
  font-family: Arial;
  font-size: 12px;
  background-color:#2F4F4FD4;
}

#title{
text-align: center;
font-weight: bold;
margin-top: 0px;
background-color:#D8BFD8;
font-size:6vw;
position: sticky;
top: 0px;
}

#container {
  width: 100%;
  display: flex;
  position: sticky;
  top: 6vw;
  padding: 1px;
  background-color:#2F4F4F;
}

#filter {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10%;
  margin-right: auto;
  width: 400px;
  font-size: 20px;
}

#decades {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: auto;
  width: 120px;
  padding: 10px;
  font-size: 20px;
}

#genres {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: auto;
  width: 140px;
  padding: 10px;
  font-size: 20px;
}

#musicStyle {
  font-style: italic;
}


#file-input {
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 5%;
  maxheight: 40px;
  width: 300px;
  padding: 10px;
  display:block;
}

#render {
  max-width: 500px;
}

#albumArtist{
  font-weight: bold;
  max-width: 35ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#albumTitle{
  font-weight: bold;
  font-size: 14px;
  max-width: 28ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#result-display {
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10px;
}

#result-text {
  display: flex;
  flex-wrap: wrap;
}

.profile-card {
  width: 200px;
  border: solid 1px #000;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #D8BFD8D4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#img {
  width: 200px;
  height:200px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {
  #img {
    width: 290px;
    height:290px;
  }
  .profile-card {
    width: 300px;
    }
  #albumTitle{
    font-size: 16px;
  }
  #albumArtist{
    font-size: 16px;
  }

  #title{
  font-size:40px;
  top: 0px;
  }
  #container {
    top: 90px;
  }
  #filter {
    margin-left: auto;
    width: 100px;
    font-size: 14px;
  }
  #decades {
    width: 86px;
    font-size: 10px;
  }

  #genres {
    width: 90px;
    font-size: 10px;
  }
}
