body {
  font-family: Arial;
  font-size: 12px;
  background-color:#2F4F4FD4;
}

#title{
text-align: center;
font-weight: bold;
font-size: 140px;
margin-top: 40px;
margin-bottom: 40px;
background-color:#D8BFD8D4;
}

#container {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}

#musicStyle {
  font-style: italic;
}

#filter {
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: auto;
  width: 400px;
  padding: 10px;
}

#file-input {
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 5%;
  maxheight: 40px;
  width: 300px;
  padding: 10px;
  display:block;
}

#render {
  max-width: 500px;
}
#albumTitle{
  font-weight: bold;
  font-size: 14px;
}

#result-display {
  width: 90%;
  padding: 40px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 10px;
  overflow: auto;
  word-break: break-all;
}

#result-text {
  display: flex;
  flex-wrap: wrap;
}

.profile-card {
  width: 220px;
  border: solid 1px #000;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #D8BFD8D4;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
